#
# Logs & DB
############
*.log
*.lock
programs/db/*.xml


#
# IDE Project Files
####################
*.project


#
# Apple BS
####################
*.DS_Store


#
# htaccess (see *.hta)
#######################
*.htaccess
